.body{
    background-color: #fefdf9;
}

.container{
    /* border: 1px solid red; */
    width: 80%;
    height: 100vh;
    margin-left: 8rem;
    margin-top: 2rem;
}

.nav-bar{
    display: flex;
    margin-top: 8px;    
    /* border: 2px solid black; */
    margin-left: 3rem;
    width: 95%;
}

.nav-links{
    margin-left: 42rem;
    margin-top: 1.5rem;
    font-size: 18px;
}

.content{
    /* border: 2px solid green; */
    width: 98%;
    height: 85vh;
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}

.content1{
    width: 96.5%;
    height: 70vh;
    /* border: 2px solid aqua; */
    margin-top: 5px;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "one one two"
                        "three four two";
    grid-area: one;
}

.image1{
    margin-left: 1px;
    margin-top: 2px;
}

.new{
    width: 80%;
    height: 58vh;
    /* border: 2px solid yellow; */
    margin-left:2rem;
    grid-area: two;
    font-size: 15px;
    background-color: #00001a;
    color: white;
    padding: 20px;
}

.bright{
    margin-top: -40px;
    width: 80%;
    font-size: 50px;
    font-weight: bold;
    grid-area: three;
}

.dive{
    color: #6c6a6d;
    grid-area: four;
}

.readmore{
    width: 40%;
    height: 20px;
    /* border: 2px solid #f15d51; */
    background-color: #f15d51;
    padding: 10px;
    color: white;
    margin-top: 2rem;
}

.underline1{
    border: 1px solid #484862;
}

.underline2{
    border: 1px solid #484862;
}

.content2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "one two three";
}

.reviving{
    grid-area: one;
}

.laptops{
    grid-area: two;
}

.gaming{
    grid-area: three;
}

.contenta{
    width: 50%;
    margin-left: 10rem;
    margin-top: -9rem;
}

.contentb{
    width: 50%;
    margin-left: 10rem;
    margin-top: -9rem;
}
.contentc{
    width: 50%;
    margin-left: 10rem;
    margin-top: -9rem;
}
